<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" th:href="@{/assets/favicon.ico}" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg" style="background-color: green">
                <div class="container-fluid">
                    <div class="navbar-nav d-grid" style="width: 18%" >
                        <a href="http://www.munichaclacayo.gob.pe/portals/"  style="width: 100%"><img class="btn d-grid"src="https://cdn.discordapp.com/attachments/867892972111265833/997017267084730498/Logo_muni-removebg-preview.png" style="width: 100%"/></a>
                    </div>   
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/auth/main}" style="color: white; margin-left: 30px; font-size: 25px"><i class="fa-solid fa-house fa-2x"></i></a>
                            </li>

                        </ul>
                        <ul class="navbar-nav mb-1 mb-lg-0">
                            <li class="nav-link dropstart">
                                <b class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                                    USER</b>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/auth/main/perfil}">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" th:href="@{/login}">Cerrar Sesion</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container-fluid" layout:fragment="page-content">

            </div>
        </div>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
