<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    </head>
    <body>
       <nav class="nav">
            <div class="navbar-nav d-grid" style="width: 18%" >
                <a href="http://www.munichaclacayo.gob.pe/portals/"  style="width: 100%"><img class=" btn"src="https://media.discordapp.net/attachments/867892972111265833/997017267084730498/Logo_muni-removebg-preview.png" style="width: 100%;"/></a>
            </div>  

        </nav>
        <div class="container mt-5 p-5 w-25" style="background-color: rgba(2,  2, 0, 0.6);" >  
            <div class="container  mt-2 p-4" style="background-color: rgba(4,123, 7, 0.4);">
                <div class="container">
                    <h3 class="text-center text-white">RECUPERAR CONTRASEÑA</h3>
                    <h4 class="text-center text-warning">Ingrese su correo electrónico</h4> 
                    <h5 class="text-white">CORREO</h5>
                    <div><input type="text" class="form-control" placeholder="Correo"></div>
                    <h5 class="text-white">Insertar nueva contraseña</h5>
                    <div><input type="text" class="form-control" placeholder="Nueva contraseña"></div>
                    
                    <form  th:action="@{/login}" class="mb-3 d-flex justify-content-center mt-3" >
                        <div  class="d-grid gap-2 h-auto" >                    
                            <input  type="submit" value="Solicitar cambio de contraseña" class="btn" style="background-color: rgb(247,180,0)">
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
