<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    </head>
    <body style="overflow: hidden;">    
        <nav class="nav" style="background-color: rgba(2,  2, 0, 0.7)">
            <div class="navbar-nav d-grid" style="width: 18%;" >
                <a href="http://www.munichaclacayo.gob.pe/portals/"  style="width: 100%"><img class=" btn"src="https://media.discordapp.net/attachments/867892972111265833/997017267084730498/Logo_muni-removebg-preview.png" style="width: 100%;"/></a>
            </div>  

        </nav>

        <div class="container mt-5 p-5 w-25" style="background-color: rgba(2,  2, 0, 0.6); border-radius: 10px" >  
            <div class="container  mt-1 p-" style="background-color: rgba(4,123, 7, 0.4);"> 

                <form method="POST" th:action="@{/login}" class=" p-5 rounded-start">
                    <img  class="mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Escudo_de_Chaclacayo.png/1200px-Escudo_de_Chaclacayo.png" width="50%"/>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white">USUARIO</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white">CONTRASEÑA</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>                
                    <div  class="d-grid gap-2 h-auto mb-3 d-flex justify-content-center" >                    
                        <input  type="submit" value="Iniciar sesión" class="btn" style="background-color: rgb(247,180,0)">
                    </div> 
                </form>
                <div class="mb-3 w-100 text-center mt-3">
                    <a th:href="@{/register}" class="text-info">¿No tienes una cuenta?</a>
                </div>  
                <div class="mb-3 w-100 text-center mt-3">
                    <a th:href="@{/contrasena}" class="text-info">¿Olvidaste tu contraseña?</a>
                </div> 
            </div>
        </div>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
