
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: rgb(252,230,64)">
        <div class="container-fluid mt-2"  layout:fragment="page-content">
            <div class="row">
                <div class="container col-11 row-cols-2" style="margin-top: 20px" >
                    <div class="row">
                        <div class="col-12 justify-content-around"  style="background-color: rgb(1, 155, 8); border-radius: 4px" ><h3>ORGANIZACIONES A LAS QUE PERTENEZCO</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-6 btn-primary alert"  data-bs-toggle="modal" href="#exampleModalToggle" style="background-color: rgb(180, 180, 180); margin: 5px"><h4 class="col-12" style="color: black">ORGANIZACION SOCIAL PUEBLA</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 btn-primary alert" style="background-color: rgb(180, 180, 180); margin: 5px"><h4 class="col-12" style="color: black">ORGANIZACION SOCIAL RONDA</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-6 btn-primary alert" style="background-color: rgb(180, 180, 180); margin: 5px"><h4 class="col-12" style="color: black">ORGANIZACION SOCIAL ORIGEN</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-6 btn-primary alert" style="background-color: rgb(180, 180, 180); margin: 5px"><h4 class="col-12" style="color: black">ORGANIZACION SOCIAL FUENTE</h4></div>
                    </div>

                    <div class="row">
                        <div class="col-6 btn-primary alert" style="background-color: rgb(180, 180, 180); margin: 5px"><h4 class="col-12" style="color: black">ORGANIZACION SOCIAL ESTELA</h4></div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="container" style="margin-left: 268px; margin-top: 85px; height: 800px">
                            <div class="modal-dialog modal-fullscreen modal-dialog-centered" style="width:1296px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">YYYYYYYYY</h5>                                    
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">NOMBRE</th>
                                                    <th scope="col">CODIGO</th>
                                                    <th scope="col">CORREO</th>
                                                    <th scope="col">USUARIO</th>
                                                    <th scope="col">CONTRASEÑA</th>
                                                    <th scope="col">REPITECONTRASEÑA</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                                
                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade w-100 h-100" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalToggleLabel2"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ¿ACEPTAR O RECHAZAR?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">REGRESAR</button>
                                    <a class="btn btn-primary btn-danger" th:href="@{/auth/main/mainmp}" role="button">RECHAZAR</a>
                                    <a class="btn btn-primary" style="background-color: green" th:href="@{/auth/main/mainmp}" role="button">ACEPTAR</a>
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
    </body>
</html>
