
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <body>
        <div>
            <div class="container-fluid mt-2" style="background-color: rgb(252,230,64); border-radius: 20px" layout:fragment="page-content">
                <div class="row">
                    <div class="col-8 ">
                        <div class="container d-grid mt-3">
                            <div class="row">
                                <div class="col-12 btn-success" role="alert"><h3>ORGANIZACIONES A LAS QUE PERTENEZCO</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL PUEBLA</h4></div>                            
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-danger" role="alert"><h4>ORGANIZACION SOCIAL RONDA</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL ORIGEN</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL FUENTE</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL ESTELA</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL MORAL</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL REDIMIDO</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL DIPUTADOS</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-12 btn-primary alert-success" role="alert"><h4>ORGANIZACION SOCIAL LABASE</h4></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

    </body>

</html>
