
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="bg-dark">
        <div class="container-fluid mt-2 d-grid"  layout:fragment="page-content">
            <div class="row">
                <div class="container col-4 row-cols" style="margin-top: 20px"> 
                    <div class="bg-light d-grid justify-content-center" style="height: 800px; width: 500px; border-radius: 80px">
                        <div class="d-grid justify-content-center">
                            <div style="font-size: 200px"><i class="fa-solid fa-circle-user"></i></div>                            
                        </div>                                              
                    </div>
                </div>
            </div>      
    </body>
</html>
