<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    </head>
    <body style="overflow: hidden;">
        <div class="container mt-5 p-5 w-30" style="background-color: rgba(2,  2, 0, 0.6);" >  
            <div class="container  mt-2 p-4" style="background-color: rgba(4,123, 7, 0.4);"> 
                <div class="">
                    <div class="container" style="width: 730px; align-content:  center">
                        <b style="font-size: 40px;color: white">REGISTRAR ORGANIZACION SOCIAL</b>
                    </div>
                    <br>
                    <b class="container-fluid" style="color: white; font-size: 20px">INGRESAR DATOS DE LA ORGANIZACION</b>
                    <div class="d-grid gap-5 d-md-flex "style="margin-top: 30px; margin-left: 30px; width: 800px; height: 500px">                    
                        <div style="font-size: 25px">                        
                            <div class="container">
                                <b style="color: white">NOMBRE DE LA ORGANIZACION SOCIAL</b>
                                <div class="col row-cols"><input type="text"style="width: 300px; border-radius: 5px"></div>
                                <b style="color: white">TIPO DE ORGANIZACIÒN</b>
                                <div class="col row-cols"><input type="text"style="width: 300px; border-radius: 5px"></div>
                                <b style="color: white">DIRECCIÒN</b>
                                <div class="col row-cols"><input type="text"style="width: 300px; border-radius: 5px"></div>                                
                            </div>                        
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
                        <a class="btn btn-primary" th:href="@{/auth/main}" role="button">CANCELAR</a>
                        <a class="btn btn-primary" th:href="@{/auth/main/registrar2}" role="button">CONTINUAR</a>
                    </div> 
                </div>
            </div>
        </div>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>